<a href="https://colab.research.google.com/github/Chinmaya54/DM_Challenge_WC_Winner/blob/Chinmaya/ICC_WC23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [80]:
match_df = pd.read_csv('/content/drive/MyDrive/Assignment Datasets /ODI_Match_info.csv')

In [ ]:
match_wc_df = pd.read_csv('/content/drive/MyDrive/Assignment Datasets /matches.csv')

In [81]:
match_df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [82]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1389389,2023/24,Indore,2023/09/24,India,Australia,Australia,field,D/L,1,India,99,0,SS Iyer,"Holkar Cricket Stadium, Indore",J Madanagopal,HDPK Dharmasena,KN Ananthapadmanabhan
1,1336129,2023,Nottingham,2023/09/23,England,Ireland,Ireland,field,normal,0,England,48,0,WG Jacks,"Trent Bridge, Nottingham",DJ Millns,RJ Tucker,PR Reiffel
2,1395701,2023,Dhaka,2023/09/23,New Zealand,Bangladesh,New Zealand,bat,normal,0,New Zealand,86,0,IS Sodhi,"Shere Bangla National Stadium, Mirpur",M Erasmus,Sharfuddoula,Nitin Menon
3,1389388,2023/24,Chandigarh,2023/09/22,Australia,India,India,field,normal,0,India,0,5,Mohammed Shami,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,HDPK Dharmasena,J Madanagopal
4,1395700,2023,Dhaka,2023/09/21,New Zealand,Bangladesh,Bangladesh,field,normal,0,NaN,0,0,NaN,"Shere Bangla National Stadium, Mirpur",Nitin Menon,Sharfuddoula,M Erasmus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374,65634,2002/03,Sydney,2003/01/09,Sri Lanka,Australia,Australia,field,normal,0,Sri Lanka,79,0,ST Jayasuriya,Sydney Cricket Ground,RB Tiffin,SJA Taufel,DB Hair
2375,64817,2002/03,Wellington,2003/01/08,New Zealand,India,New Zealand,bat,normal,0,India,0,2,Z Khan,"Westpac Stadium, Wellington",BF Bowden,DJ Harper,DB Cowie
2376,64816,2002/03,Queenstown,2003/01/04,India,New Zealand,New Zealand,field,normal,0,New Zealand,0,7,AR Adams,"Davies Park, Queenstown",EAR de Silva,DB Cowie,AL Hill
2377,64815,2002/03,Christchurch,2003/01/01,India,New Zealand,India,bat,normal,0,New Zealand,0,5,DR Tuffey,"Jade Stadium, Christchurch",EAR de Silva,DB Cowie,AL Hill
2378,64814,2002/03,Napier,2002/12/29,New Zealand,India,India,field,normal,0,New Zealand,35,0,V Sehwag,"McLean Park, Napier",EAR de Silva,DB Cowie,BF Bowden

In [83]:
match_df.dtypes

id                  int64
season             object
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

In [84]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2379 entries, 0 to 2378
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2379 non-null   int64
 1   season           2379 non-null   object
 2   city             2069 non-null   object
 3   date             2379 non-null   object
 4   team1            2379 non-null   object
 5   team2            2379 non-null   object
 6   toss_winner      2379 non-null   object
 7   toss_decision    2379 non-null   object
 8   result           2379 non-null   object
 9   dl_applied       2379 non-null   int64
 10  winner           2259 non-null   object
 11  win_by_runs      2379 non-null   int64
 12  win_by_wickets   2379 non-null   int64
 13  player_of_match  2228 non-null   object
 14  venue            2379 non-null   object
 15  umpire1          2379 non-null   object
 16  umpire2          2379 non-null   object
 17  umpire3          2097 non-null   object
dtypes: int64(4), object(14)
memory usage: 334.7+ KB

**Null values are present**\
Need Imputation or dropping columns having a higher percentage of missing values.

In [85]:
# Checking null value percentage
percent_missing = match_df.isnull().sum() * 100 / len(match_df)
missing_value_df = pd.DataFrame({'missing_percentage': percent_missing, 'type': match_df.dtypes})
missing_value_df.sort_values('missing_percentage',ascending=False, inplace=True)
missing_value_df.head(20)

                 missing_percentage    type
city                      13.030685  object
umpire3                   11.853720  object
player_of_match            6.347205  object
winner                     5.044136  object
umpire2                    0.000000  object
umpire1                    0.000000  object
venue                      0.000000  object
win_by_wickets             0.000000   int64
win_by_runs                0.000000   int64
id                         0.000000   int64
season                     0.000000  object
result                     0.000000  object
toss_decision              0.000000  object
toss_winner                0.000000  object
team2                      0.000000  object
team1                      0.000000  object
date                       0.000000  object
dl_applied                 0.000000   int64

In [86]:
match_df.isnull().sum()

id                   0
season               0
city               310
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner             120
win_by_runs          0
win_by_wickets       0
player_of_match    151
venue                0
umpire1              0
umpire2              0
umpire3            282
dtype: int64

In [ ]:
match_df.shape

In [87]:
match_df.dropna(subset=['winner'], inplace=True)

In [88]:
#filling na values
match_df[["city", "player_of_match", "umpire3"]] = match_df[["city", "player_of_match", "umpire3"]].fillna(0)

In [89]:
match_df.isnull().sum()

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

In [90]:
match_df.dtypes

id                  int64
season             object
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

In [91]:
match_df.drop(['city', 'result', 'player_of_match', 'umpire1', 'umpire2', 'umpire3'], axis=1, inplace=True)

In [92]:
# Changing date to proper date format
match_df['date'] = pd.to_datetime(match_df['date'])

In [93]:
match_df['team1'].unique()

array(['India', 'England', 'New Zealand', 'Australia', 'Sri Lanka',
       'South Africa', 'Bangladesh', 'Pakistan', 'Nepal', 'Afghanistan',
       'West Indies', 'Scotland', 'United Arab Emirates', 'Oman',
       'Netherlands', 'Zimbabwe', 'United States of America', 'Ireland',
       'Canada', 'Namibia', 'Jersey', 'Papua New Guinea', 'Hong Kong',
       'Kenya', 'Africa XI', 'Bermuda'], dtype=object)

In [94]:

# List of semifinalist teams
semifinalist_teams = ['India', 'South Africa', 'Australia', 'New Zealand']

# Extract rows where 'team1' or 'team2' is a semifinalist
semifinalist_matches_df = match_df[match_df['team1'].isin(semifinalist_teams) | match_df['team2'].isin(semifinalist_teams)]

# Display the new DataFrame
semifinalist_matches_df.head()

,id,season,date,team1,team2,toss_winner,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1389389,2023/24,2023-09-24,India,Australia,Australia,field,1,India,99,0,"Holkar Cricket Stadium, Indore"
2,1395701,2023,2023-09-23,New Zealand,Bangladesh,New Zealand,bat,0,New Zealand,86,0,"Shere Bangla National Stadium, Mirpur"
3,1389388,2023/24,2023-09-22,Australia,India,India,field,0,India,0,5,"Punjab Cricket Association IS Bindra Stadium, ..."
5,1388414,2023,2023-09-17,Sri Lanka,India,Sri Lanka,bat,0,India,0,10,"R Premadasa Stadium, Colombo"
6,1373575,2023/24,2023-09-17,South Africa,Australia,Australia,field,0,South Africa,122,0,"The Wanderers Stadium, Johannesburg"

In [95]:
match_df.shape

(2259, 12)

In [96]:
semifinalist_matches_df.shape

(1262, 12)

In [97]:
semifinalist_matches_df['team1'].unique()

array(['India', 'New Zealand', 'Australia', 'Sri Lanka', 'South Africa',
       'Bangladesh', 'England', 'Nepal', 'West Indies', 'Pakistan',
       'Netherlands', 'Zimbabwe', 'Scotland', 'Ireland', 'Afghanistan',
       'Canada', 'Kenya', 'Hong Kong', 'Bermuda',
       'United States of America'], dtype=object)

In [98]:
semifinalist_matches_df['team2'].unique()

array(['Australia', 'Bangladesh', 'India', 'New Zealand', 'Sri Lanka',
       'Pakistan', 'South Africa', 'West Indies', 'Netherlands',
       'England', 'Zimbabwe', 'Ireland', 'Hong Kong', 'Scotland',
       'United Arab Emirates', 'Afghanistan', 'Canada', 'Kenya',
       'ICC World XI', 'United States of America', 'Namibia'],
      dtype=object)

In [100]:
# List of all unique teams
all_teams = ['India', 'New Zealand', 'Australia', 'Sri Lanka', 'South Africa', 'Bangladesh', 'England', 'Nepal',
             'West Indies', 'Pakistan', 'Netherlands', 'Zimbabwe', 'Scotland', 'Ireland', 'Afghanistan', 'Canada',
             'Kenya', 'Hong Kong', 'Bermuda', 'United States of America', 'United Arab Emirates', 'ICC World XI',
             'Namibia']

from sklearn.preprocessing import LabelEncoder
# Create a LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the LabelEncoder on all unique teams
label_encoder.fit(all_teams)

# Encode 'team1' and 'team2' columns in the DataFrame
semifinalist_matches_df['team1_encoded'] = label_encoder.transform(semifinalist_matches_df['team1'])
semifinalist_matches_df['team2_encoded'] = label_encoder.transform(semifinalist_matches_df['team2'])
semifinalist_matches_df['toss_winner_encoded'] = label_encoder.transform(semifinalist_matches_df['toss_winner'])
semifinalist_matches_df['winner_encoded'] = label_encoder.transform(semifinalist_matches_df['winner'])
semifinalist_matches_df['toss_decision_encoded'] = label_encoder.fit_transform(semifinalist_matches_df['toss_decision'])
semifinalist_matches_df['venue_encoded'] = label_encoder.fit_transform(semifinalist_matches_df['venue'])

# Display the updated DataFrame
semifinalist_matches_df.head()

<ipython-input-100-9805ac0b2848>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['team1_encoded'] = label_encoder.transform(semifinalist_matches_df['team1'])
<ipython-input-100-9805ac0b2848>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['team2_encoded'] = label_encoder.transform(semifinalist_matches_df['team2'])
<ipython-input-100-9805ac0b2848>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['toss_winner_encoded'] = label_encoder.transform(semifinalist_matches_df['toss_winner'])
<ipython-input-100-9805ac0b2848>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['winner_encoded'] = label_encoder.transform(semifinalist_matches_df['winner'])
<ipython-input-100-9805ac0b2848>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['toss_decision_encoded'] = label_encoder.fit_transform(semifinalist_matches_df['toss_decision'])
<ipython-input-100-9805ac0b2848>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semifinalist_matches_df['venue_encoded'] = label_encoder.fit_transform(semifinalist_matches_df['venue'])

,id,season,date,team1,team2,toss_winner,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,venue,team1_encoded,team2_encoded,toss_winner_encoded,toss_decision_encoded,venue_encoded,winner_encoded
0,1389389,2023/24,2023-09-24,India,Australia,Australia,field,1,India,99,0,"Holkar Cricket Stadium, Indore",8,1,1,1,70,8
2,1395701,2023,2023-09-23,New Zealand,Bangladesh,New Zealand,bat,0,New Zealand,86,0,"Shere Bangla National Stadium, Mirpur",14,2,14,0,172,14
3,1389388,2023/24,2023-09-22,Australia,India,India,field,0,India,0,5,"Punjab Cricket Association IS Bindra Stadium, ...",1,8,8,1,132,8
5,1388414,2023,2023-09-17,Sri Lanka,India,Sri Lanka,bat,0,India,0,10,"R Premadasa Stadium, Colombo",18,8,18,0,142,8
6,1373575,2023/24,2023-09-17,South Africa,Australia,Australia,field,0,South Africa,122,0,"The Wanderers Stadium, Johannesburg",17,1,1,1,189,17

In [ ]:
# Print the list of which team is labelled by which number
print("Label Encoding for Teams:")
for team, label in zip(all_teams, label_encoder.transform(all_teams)):
    print(f"{team}: {label}")

Label Encoding for Teams:
India: 8
New Zealand: 14
Australia: 1
Sri Lanka: 18
South Africa: 17
Bangladesh: 2
England: 5
Nepal: 12
West Indies: 21
Pakistan: 15
Netherlands: 13
Zimbabwe: 22
Scotland: 16
Ireland: 9
Afghanistan: 0
Canada: 4
Kenya: 10
Hong Kong: 6
Bermuda: 3
United States of America: 20
United Arab Emirates: 19
ICC World XI: 7
Namibia: 11

In [102]:
semifinalist_matches_df.dtypes

id                                int64
season                           object
date                     datetime64[ns]
team1                            object
team2                            object
toss_winner                      object
toss_decision                    object
dl_applied                        int64
winner                           object
win_by_runs                       int64
win_by_wickets                    int64
venue                            object
team1_encoded                     int64
team2_encoded                     int64
toss_winner_encoded               int64
toss_decision_encoded             int64
venue_encoded                     int64
winner_encoded                    int64
dtype: object